name: SonarQube Analysis
on:
  push:
    branches:
      - main
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Dummy Scan
        run: echo "Cấu hình SonarQube thành công, đang chờ kết nối local..."
